@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (max-width: 1400px) {
  .lg-text-3xl {
    font-size: 2rem;
  }
  .lg-text-xl {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .lg-px-7 {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
  .lg-py-2 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .header {
    height: 6rem;
  }
  .header > div > div {
    font-size: 1rem;
  }
  .header > div > div > a {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

@media only screen and (max-width: 1100px) {
  .logo {
    display: none;
  }
  .btn {
    display: flex;
  }
  .ext {
    display: flex;
  }
  .header {
    background-color: #3f3f46;
    position: absolute;
    flex-direction: column-reverse;
    width: 20rem;
    height: 100vh;
    right: -100%;
    top: 0;
    padding: 0 0;
  }
  .active.header {
    right: 0;
  }
  .links {
    margin-top: 80px;
    flex-direction: column;
    width: 100%;
    > div {
      width: 100%;
    }
  }
  .nlink {
    position: relative;
    z-index: 99;
    width: 100%;
    display: inline-block;
    text-align: start;
    color: white;
    border-radius: 0;
    padding: 20px;
  }
  .nlink:hover {
    background-color: #27272a;
  }
  .head {
    display: flex;
  }
}
@media only screen and (max-width: 1350px) {
  .lg-flex-col {
    flex-direction: column !important;
  }
  .px-40 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .lg-items-center {
    align-items: center;
  }
  .lg-mt-5 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .text-5xl {
    font-size: 2rem;
  }
  .text-2xl {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}